# Project
VERSION_MAJOR = 1
VERSION_MINOR = 2
VERSION_PATCH = 0

ANDROID_VERSION_MINIMAL = 21
ANDROID_VERSION_TARGET = 28

# Signing
KEYSTORE_PATH = "../keystore.jks"
KEYSTORE_PASSWORD = "password"
KEYSTORE_ALIAS = "application"
KEYSTORE_ALIAS_PASSWORD = "password"

# Gradle
org.gradle.jvmargs = -Xmx1536m

# AndroidX
android.useAndroidX = true
android.enableJetifier = true