<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sengami.myastraldiary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyAstralDiaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning,AllowBackup">

        <activity android:name="com.sengami.gui_splash.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.sengami.gui_main.view.MainActivity" />

        <activity android:name="com.sengami.gui_diary.view.DiaryEntryComposerActivity" />

        <activity
            android:name="com.sengami.permissions.PermissionsActivity"
            android:theme="@style/TransparentTheme"/>
    </application>
</manifest>
